/* Border Radius */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.border-round-sm {
  border-radius: 5px;
}

.border-round {
  border-radius: 20px;
}

.rounded-circle {
  border-radius: 50%;
}

/* Padding */
.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

.p-14 {
  padding: 14px;
}

.p-16 {
  padding: 16px;
}

.p-18 {
  padding: 18px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.p-22 {
  padding: 22px;
}

.p-24 {
  padding: 24px;
}

/* Margin */
.m-8 {
  margin: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.m-12 {
  margin: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.m-14 {
  margin: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.ml-14 {
  margin-left: 14px;
}

.m-16 {
  margin: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.m-18 {
  margin: 18px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mr-18 {
  margin-right: 18px;
}

.ml-18 {
  margin-left: 18px;
}

.m-20 {
  margin: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.m-22 {
  margin: 22x;
}

.mb-22 {
  margin-bottom: 22px;
}

.mr-22 {
  margin-right: 22px;
}

.ml-22 {
  margin-left: 22px;
}

.m-24 {
  margin: 24x;
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-24 {
  margin-left: 24px;
}

/* Position */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

/* Font Weight*/
.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semi-bold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extra-bold {
  font-weight: 800;
}

body {
  font-family: Manrope, sans-serif;
}

.container-custom {
  max-width: 1200px;
  margin: auto;
}

.banner .image-wrapper {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.18);
}
.banner .event-wrapper {
  top: 0;
}
.banner .event-wrapper .buy-btn a {
  background-color: #000;
  padding: 10px;
  display: block;
  width: 100%;
  color: #fff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.banner .event-wrapper .site-btn a {
  border: 1px solid #000;
  padding: 10px;
  display: block;
  width: 100%;
  color: #000;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.banner .event-wrapper .host-details .image-wrapper {
  width: 42px;
  overflow: hidden;
}
.banner .content-navbar {
  border-bottom: 1px solid #d6d6d6;
}
.banner .content-navbar ul li .nav-link {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.banner .content-navbar ul li .nav-link.active {
  background-color: transparent;
  border-bottom: 2px solid #000;
}
.banner .content-navbar ul li:hover {
  background: rgba(195, 195, 195, 0.4588235294) !important;
}
.banner .event-description .custom-table {
  border: 1px solid #000;
  text-align: center;
  width: 100%;
}
.banner .event-description .custom-table th, .banner .event-description .custom-table td {
  border: 1px solid #000;
  text-align: center;
  padding: 10px 0;
}
.banner .event-description .custom-table th p, .banner .event-description .custom-table td p {
  margin-bottom: 0;
}/*# sourceMappingURL=EventCard.css.map */