
$white: #fff;
$black: #000;

$box-shadow-1: 4px 4px 20px rgba(0,0,0,.18);
$box-shadow-2: 0px 0px 10px rgba(0,0,0,.15);
$box-shadow-3: 0px 4px 5px rgb(0 0 0/15%);

$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;